<footer class="ss-footer">
    <div class="f-info">
        <div class="f-info-brand">
            <i class="fa-solid fa-compass ss-footer-icon"></i>
            <span>StayScape</span>
        </div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company</a>
        </div>
        <div class="f-info-socials">
            <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-copy">&copy; <%= new Date().getFullYear() %> StayScape, Inc. All rights reserved.</div>
    </div>
</footer>
